.c-section__title {
  font-size: rem(30);
  letter-spacing: 0.07em;
  color: $color-section-title;
  position: relative;
  text-align: center;
  @include mq("md") {
    font-size: rem(35);
  }
  // line-height: rem(32);
  font-family: $second-font-family;
  &::after {
    font-family: $base-font-family;
    content: "";
    position: absolute;
    display: block;
    bottom: rem(-14);
    left: 50%;
    transform: translateX(-50%);
    font-size: rem(13);
    letter-spacing: 0.01em;
  }
}

.c-section__title--news {
  @extend .c-section__title;
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
  &::after {
    content: "お知らせ";
    @include mq("md") {
      transform: translateX(0);
      left: rem(-2);
    }
  }
}

.c-section__title--service {
  &::after {
    content: "事業内容";
  }
}

.c-section__title--works {
  position: relative;
  top: rem(-12);
  &::after {
    content: "制作実績";
  }
}

.c-section__title--recruit {
  &::after {
    content: "採用情報";
  }
}

.c-section__title--company {
  &::after {
    content: "私たちについて";
  }
}

.c-section__title--contact {
  letter-spacing: 0;
  &::after {
    content: "お問い合わせ";
  }
}
