// 透過度
$opacity: 0.6;
$hover-opacity: 0.8;

//汎用色
$black: #111;
$white: #fff;
$yellow: #F5F534;
$main-color: #7633A4;
$gray: #E8E8E8;

//背景色
$recruit-bg: #F7F7F7;
$contact-bg: #F7F7F7;
$breadcrumb-bg: #F7F7F7;
$footer-bg: #120E19;
$color-underline: #F5F534;
$color-works-bg: #F0F0F0;
$color-header-bg: #21054D;
$color-page-top-bg: #391E88;

//文字色
$color-font-base: #333;
$color-copyright-text: #A798B7;
$color-page-nation-current-text: #4F31A5;
$color-section-title: #391E88;

//slick
$color-slick-dot: #391E88;

//ページネーション
$color-page-nation-current: #F1EBF8;