// レイアウト幅
$inner: rem(1110);
$inner-sm: rem(917);
$inner-md: rem(1261);
$inner-lg: rem(1300);
$inner-news-sub: rem(915);

// 余白
$padding-pc: rem(30);
$padding-pc-works: rem(20);
$padding-sp: rem(20);
