.m-page-nation {
  margin-top: rem(40);
  display: flex;
  justify-content: center;
  @include mq("md") {
    margin-top: rem(37);
  }
}

.m-page-nation-current,
.m-page-nation__button {
  margin: 0 rem(5);
}

.m-page-nation-current {
  display: inline-block;
  width: rem(45);
  height: rem(45);
  border-radius: 50%;
  background-color: $color-page-nation-current;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-page-nation-current-text;
  font-family: $second-font-family;
  font-size: rem(20);
  font-weight: $bold;
}

.m-page-nation__button {
  @extend .m-page-nation-current;
  background-color: $main-color;
  color: $white;
}
